# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\georg\Downloads\Peer-Review-Platform-Backend-datamanagement(5)\Peer-Review-Platform-Backend-datamanagement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
